AddDefaultCharset utf-8
AddHandler server-parsed .html

<IfModule mod_expires.c>
<FilesMatch "(index\.html|\.xml)$">
  ExpiresActive on
  ExpiresDefault "modification plus 23 hours"
</FilesMatch>
<FilesMatch "\.(gif|png|jpg|jpeg)$">
  ExpiresActive on
  ExpiresDefault "access plus 1 week"
</FilesMatch>
</IfModule>

