html {
    font-family: sans-serif;
    font-size: 10pt;
    background: #dae9e0;
    background-image: url('greenweave.jpg');
    background-repeat: repeat;
}
body {
    margin: 0px;
    padding: 8px;
}
#container {
    position: relative;
    margin: 8px auto;
    width: 750px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
#banner {
    background-color: #000080;
    padding: 15px;
    color: #ffffff;
    font-weight: normal;
}
#banner a {
    color: #FFFFFF;
    text-decoration: none;
}
#banner h1 {
    margin: 0px;
    font-weight: normal;
    font-size: xx-large;
}
#banner h2 {
    font-size: small;
    font-weight: normal;
    margin: 10px 0px 0px 0px;
}
.content {
    padding: 15px 15px 5px 15px;
    background-color: #ffffff;
}
.content h2 a {
    text-decoration: none;
    color: black;
}
a.format {
    border: 1px solid gray; 
    font-size:75%;
    padding: 0 1px 0 1px;
    text-decoration: none;
    color: black;
}
div.iddetails {
    width: 500px;
    margin-top: 1ex;
    margin-left: 4ex;
    margin-bottom: 1ex;
    padding: 1ex 1ex 1ex 1ex;
    background-color: #ffffe0;
}


