Repository: http://tools.ietf.org/tools/dailydose
Version: 2.0
Section: misc
Ietf: 
Priority: optional
Maintainer: Pasi Eronen <pe@iki.fi>
Package: dailydose
Architecture: any
Depends: 
Category: news
Url: http://tools.ietf.org/dailydose
Description: Get your daily dose of IETF news
	A summary of the progress and events of the
	last 24 hours in all parts of the IETF world.
	
